.container-fluid {
    margin-right: auto;
    margin-left: auto;
}
#mainContainer{
    padding-top: 5px;
    margin-top: 52px;
    margin-right: auto;
    margin-left: auto;
}
.osnovnaBarva{
    background-color: #7557A5;
    color: white;
}
a{
    color: white;
}
.mojGumb:hover{
    background-color:#61498A;
    color: white;
}
.navbar-brand:hover{
    background-color:#61498A;
    color: white;
}
.active{
    background-color:#61498A;
    color: white;
}
.fileinput-button {
    float: right;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
.uploadSlike{
    float: left;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.close{
    right:50px;
}
.newsFeedUserPhoto{
    width: 30px;
    height: 30px;
}
.headerName{
    color: #61498A;
    font-size: 20px;
}
.panelBodyPhoto{
    width: 450px;
}
.textInput{
    word-wrap: break-word;
}
@media (max-width: 767px){
    #mainContainer {
        margin-top: 186px;
    }

}
#dodajObjavo{
    width: 140px;
    margin-left: 205px;
    margin-right: 205px;
}
#tab1{

}
#tab2{
    display: none;
}
#tab3{
    display:none;

}
#slikaProfila{
    width: 150px;
    margin-left: 200px;
    margin-right: 200px;
}
.profil{
    text-align: center;
}
.naslov{
    margin-left: 5%;
    margin-top: 10px;
    color: #61498A;
}
#hrNews{
    float: right;
    width: 85%;
    border:1px solid;
    border-color: #DAC6FE;
}
#hrProfile{
    float: right;
    width: 79%;
    border:1px solid;
    border-color: #DAC6FE;
}
.left{
    float: left;
    width: 4%;
    border:1px solid;
    border-color: #DAC6FE;
}